<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="shortcut icon" type="image/png" href="ang_fav.png"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body>

<script>
    var app = angular.module("myApp", []);
    app.controller('myCtrl', function($scope) {
            $scope.tableHeaders = [{'slNo': 'slNO', 'name':'Name', 'age':'Age', 'gender':'Gender', 'action': 'Action'}]
            $scope.details = [];
            $scope.show = false;
            $scope.item = null;
            $scope.add = function(){
                $scope.details.push({'name': $scope.name, 'age': $scope.age, 'gender': $scope.gender})
                $scope.show=false
            };
            $scope.remove = function(index){
                $scope.details.splice(index, 1)
            };
            $scope.edit = function(index){
                $scope.show = true
                $scope.index = index
            };
            $scope.update = function (){
                $scope.details[$scope.index].name = $scope.uname
                $scope.details[$scope.index].age = $scope.uage
                $scope.details[$scope.index].gender = $scope.ugender
                $scope.show = false

            };
            });

</script>
<div data-ng-app="myApp" data-ng-controller="myCtrl">
<p data-ng-hide="show">
    Name: <input type="text" data-ng-model="name" placeHolder="Enter your Name" required><br>
    Age: <input type="text" data-ng-model="age" placeHolder="Enter your Age" required><br>
    Gender: <input type="radio" data-ng-model="gender" value="male" checked> Male
    <input type="radio" data-ng-model="gender" value="female"> Female
    <input type="radio" data-ng-model="gender" value="NA">Don't wish to disclose<br>
    <button data-ng-click="add()">Add</button>

</p>
    <table>
    <thead>
        <tr data-ng-repeat="c in tableHeaders">
             <th> {{ c.slNo }} </th>
             <th> {{ c.name }} </th>
             <th> {{ c.age }} </th>
             <th> {{ c.gender }} </th>
             <th> {{ c.action }} </th>
        </tr>
        </thead>
        <tr data-ng-repeat="x in details">
            <td> {{ $index }}</td>
            <td> {{ x.name }}</td>
            <td> {{ x.age }}</td>
            <td> {{ x.gender }}</td>
            <td> <button data-ng-click="remove($index)">Remove</button></td>
            <td> <button data-ng-click="edit($index)">Edit</button></td>
        </tr>
    </table>
    <p data-ng-show="show">
        Name: <input type="text" data-ng-model="uname" value=""><br/>
        Age: <input type="text" data-ng-model="uage" value=""><br/>
        Gender:<input type="radio" data-ng-model="ugender" value="male"> Male
        <input type="radio" data-ng-model="ugender" value="female"> Female
        <input type="radio" data-ng-model="ugender" value="NA">Don't wish to disclose<br>
        <button data-ng-click="update()">Update</button>


    </p>
    </div>
</body>
</html>
